# tuple

In [1]:
t=(12,23,34.2,'Mujtaba','asd')

In [2]:
t

(12, 23, 34.2, 'Mujtaba', 'asd')

In [3]:
l=[12,23,34.2,'Mujtaba','asd']

In [4]:
l

[12, 23, 34.2, 'Mujtaba', 'asd']

In [5]:
type(t)

tuple

In [6]:
type(l)

list

In [7]:
t[0]

12

In [8]:
t[0:100] # tuple indexing operations and notation is same in both the data structure

(12, 23, 34.2, 'Mujtaba', 'asd')

In [9]:
t[-1] # bacward direction

'asd'

In [10]:
# traversing operations are same in string, tuples and list

In [11]:
l[0]=10 # replaced by 10 mutability

In [12]:
l

[10, 23, 34.2, 'Mujtaba', 'asd']

In [13]:
t[0]=23 # operation called immutability no tuple does not suppot assign operation we can not mutate the data inside the tuple

TypeError: 'tuple' object does not support item assignment

In [14]:
t

(12, 23, 34.2, 'Mujtaba', 'asd')

In [15]:
t=(1,2,3,[5.4,'Mujtaba','sdd'],34,23,45) # it is not come under mutability
# it comes under reassignment

In [16]:
t

(1, 2, 3, [5.4, 'Mujtaba', 'sdd'], 34, 23, 45)

In [17]:
l=[34,32,(34,'Mujtaba')] # tuple inside the list

In [18]:
l

[34, 32, (34, 'Mujtaba')]

In [19]:
s={}

In [20]:
type(s)

dict

In [21]:
t={3,2,4}

In [22]:
type(t)

set

In [23]:
s2={23,34,4,'Mujtaba',45,23,2,34,4,3,2} #it will eliminate all the tuplicate values

In [24]:
s2 #

{2, 23, 3, 34, 4, 45, 'Mujtaba'}

In [25]:
s3={'ali','Ali'} # case ssensitiveity

In [26]:
s3

{'Ali', 'ali'}

In [27]:
s4={12,34,'asd','asdd'}

In [28]:
s4

{12, 34, 'asd', 'asdd'}

In [29]:
se={23,12,34,56,4,34,56,67}

In [30]:
se # order

{4, 12, 23, 34, 56, 67}

In [31]:
se={2,3,4,2,'mujtaba','ali',2345,3,4,32}

In [32]:
se # ascending order

{2, 2345, 3, 32, 4, 'ali', 'mujtaba'}

In [33]:
s1=set()
#  Build an unordered collection of unique elements.

In [34]:
se

{2, 2345, 3, 32, 4, 'ali', 'mujtaba'}

In [35]:
se[0] # set it is not gonna work

TypeError: 'set' object is not subscriptable

In [36]:
se[0:100]

TypeError: 'set' object is not subscriptable

In [37]:
t=list(se) # conversion

In [38]:
t

[32, 2, 3, 4, 2345, 'ali', 'mujtaba']

In [39]:
t[0:4]

[32, 2, 3, 4]

In [40]:
for i in se:
    print(i)

32
2
3
4
2345
ali
mujtaba

In [41]:
t=(1,2,3,'Mujtaba',45.3,45,3,'Ramzan')

In [42]:
t

(1, 2, 3, 'Mujtaba', 45.3, 45, 3, 'Ramzan')

In [43]:
lt=list(t)

In [44]:
lt[3]="arshad Malik"

In [45]:
lt

[1, 2, 3, 'arshad Malik', 45.3, 45, 3, 'Ramzan']

In [46]:
tuple(lt)

(1, 2, 3, 'arshad Malik', 45.3, 45, 3, 'Ramzan')

In [47]:
y={1,23,4,"Mujtaab ",34,34}
y

{1, 23, 34, 4, 'Mujtaab '}

In [48]:
ly=list(y)

In [49]:
ly[0]="Mujtaba Ali"

In [50]:
ly

['Mujtaba Ali', 34, 4, 'Mujtaab ', 23]

In [51]:
set(ly)

{23, 34, 4, 'Mujtaab ', 'Mujtaba Ali'}

In [52]:
d={1:12,"name":'Mujtaba Ali',"roll_number":19118034,"phone":9012485103}

In [53]:
d

{1: 12, 'name': 'Mujtaba Ali', 'roll_number': 19118034, 'phone': 9012485103}

In [54]:
d1={'name':'Mujtaba','name':'arshad'} # key must be unique any point

In [55]:
d1

{'name': 'arshad'}

In [56]:
d1={23323432:'Mujtaba','name':'arshad'}

In [57]:
d1

{23323432: 'Mujtaba', 'name': 'arshad'}

In [58]:
d1={23.23:'Mujtaba','name':'arshad'}

In [59]:
d1={_sd:'Mujtaba','name':'arshad'} # special case chracter

NameError: name '_sd' is not defined

In [60]:
d1={"_sd":'Mujtaba','name':'arshad'}

In [61]:
d1

{'_sd': 'Mujtaba', 'name': 'arshad'}

In [62]:
d1={'#sd':'Mujtaba','name':'arshad'}

In [63]:
d1

{'#sd': 'Mujtaba', 'name': 'arshad'}

In [64]:
d1={'name':'Mujtaba Ali',"village":'Mujtaba Ali'}

In [65]:
d1 # multiple values are allowed

{'name': 'Mujtaba Ali', 'village': 'Mujtaba Ali'}

In [66]:
d1={'name':'Mujtaba Ali',"village":'Mujtaba Ali',"t":[12,3,3,4,45]}# list inside dict

In [67]:
d1

{'name': 'Mujtaba Ali', 'village': 'Mujtaba Ali', 't': [12, 3, 3, 4, 45]}

In [68]:
d2={"name":'mujtaba Ali',1:231,"list":{1:34,2:43,'Mujtaba':23}}#list inside list

In [69]:
d2

{'name': 'mujtaba Ali', 1: 231, 'list': {1: 34, 2: 43, 'Mujtaba': 23}}

In [70]:
d2

{'name': 'mujtaba Ali', 1: 231, 'list': {1: 34, 2: 43, 'Mujtaba': 23}}

In [71]:
d2['name'] # we have to pass key

'mujtaba Ali'

In [72]:
sd={(12,3,23343):'sfdf'} # in case of tuple allowedimmu

In [73]:
sd

{(12, 3, 23343): 'sfdf'}

In [74]:
{[23,34]:'afasfd'}

TypeError: unhashable type: 'list'

In [75]:
sd="masnfdsaf"

In [76]:
sd[0]

'm'

In [77]:
sd[0]="saf" # this is immutable that why means we can not change or reasssign them

TypeError: 'str' object does not support item assignment

In [78]:
d2

{'name': 'mujtaba Ali', 1: 231, 'list': {1: 34, 2: 43, 'Mujtaba': 23}}

In [79]:
d2['list'][2]

43

In [80]:
d2['list'][1]

34

In [81]:
d2={"name":'mujtaba Ali',1:231,"list":{1:34,2:43,'Mujtaba':23},'tp':(1,2,3,3)}

In [82]:
d2

{'name': 'mujtaba Ali',
 1: 231,
 'list': {1: 34, 2: 43, 'Mujtaba': 23},
 'tp': (1, 2, 3, 3)}

In [83]:
d2['tp'][0] # it returns 1

1

In [84]:
se={23,3,454}

In [85]:
d2[]

SyntaxError: invalid syntax (<ipython-input-85-c61ffd37efc5>, line 1)

In [86]:
d2

{'name': 'mujtaba Ali',
 1: 231,
 'list': {1: 34, 2: 43, 'Mujtaba': 23},
 'tp': (1, 2, 3, 3)}

In [87]:
d2['nwe']="hsajhfs skajjfjas"

In [88]:
d2 # we can chnage the element inside the dictionary

{'name': 'mujtaba Ali',
 1: 231,
 'list': {1: 34, 2: 43, 'Mujtaba': 23},
 'tp': (1, 2, 3, 3),
 'nwe': 'hsajhfs skajjfjas'}

In [89]:
d2['nwe']="Mujtava saj sdagffa"

In [90]:
d2# if key is already exist then it will owerride the value to exist value

{'name': 'mujtaba Ali',
 1: 231,
 'list': {1: 34, 2: 43, 'Mujtaba': 23},
 'tp': (1, 2, 3, 3),
 'nwe': 'Mujtava saj sdagffa'}

In [91]:
# and if key is not exist then it will create the key

In [92]:
d2[['sad']]="sadfsad" # not possible

TypeError: unhashable type: 'list'

In [94]:
d2[(1,2,3,4)]="sdgsdfa" # because it is immutable

In [95]:
d2

{'name': 'mujtaba Ali',
 1: 231,
 'list': {1: 34, 2: 43, 'Mujtaba': 23},
 'tp': (1, 2, 3, 3),
 'nwe': 'Mujtava saj sdagffa',
 (1, 2, 3, 4): 'sdgsdfa'}

In [96]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [98]:
l=[1,2,3,4,"jkashfkha",9,(4,34,4),{1:34,45:5},[34,45,34,]]

In [99]:
l

[1, 2, 3, 4, 'jkashfkha', 9, (4, 34, 4), {1: 34, 45: 5}, [34, 45, 34]]

In [100]:
for v in l: # it looks iterable means can traverse one index to another index
    print(v)

1
2
3
4
jkashfkha
9
(4, 34, 4)
{1: 34, 45: 5}
[34, 45, 34]

In [107]:
for v in l: # only integer
    if type(v)==int:
        print(v)

1
2
3
4
9

In [108]:
for v in l: # only dictionary
    if type(v)==dict:
        print(v)

{1: 34, 45: 5}

In [109]:
l

[1, 2, 3, 4, 'jkashfkha', 9, (4, 34, 4), {1: 34, 45: 5}, [34, 45, 34]]

In [111]:
l[8][0]

34

In [112]:
l[-1][0]

34

In [118]:
for i in l:
    if type(i)== list:
        for j in i:
            if j ==34:
                print("yes available")
            else:
                print('Not available')

yes available
Not available
yes available

In [120]:
for i in l:
    if type(i)== list:
        for j in i:
            if j ==34:
                print("yes available")

yes available
yes available

In [121]:
l

[1, 2, 3, 4, 'jkashfkha', 9, (4, 34, 4), {1: 34, 45: 5}, [34, 45, 34]]

In [123]:
# we try this things when we know about index number
for i in l:
    if type(i)==tuple:
        for j in i:
            if j==34:
                print('yes present')
            else:
                print('not present')

not present
yes present
not present

In [129]:
[1, 2, 3, 4, 'jkashfkha', 9, (4, 34, 4), {1: 34, 45: 5}, (34,2,334,45,4),[34, 45, 34]]

[1,
 2,
 3,
 4,
 'jkashfkha',
 9,
 (4, 34, 4),
 {1: 34, 45: 5},
 (34, 2, 334, 45, 4),
 [34, 45, 34]]

In [130]:
for i in l:
    if type(i)== tuple:
        print(i)
        for j in i:
            if j==4:
                print(j)

(4, 34, 4)
4
4

In [140]:
lt=[1,2,(34,45,56),{2,3,4},(76,5,57)]

In [141]:
lt

[1, 2, (34, 45, 56), {2, 3, 4}, (76, 5, 57)]

In [142]:
for i in lt:
    if type(i) == tuple:
        print(i)
        for j in i:
            if j==56:
                print("yes present")

(34, 45, 56)
yes present
(76, 5, 57)

In [143]:
s={2,34,45,6}

In [145]:
for i in s:
    print(i)

2
34
45
6

In [151]:
d={'name':'Mujtaba Ali','roll_number':19118034,"village":'kumhariya',"marks":[34,45,45,34,2]}

In [152]:
d

{'name': 'Mujtaba Ali',
 'roll_number': 19118034,
 'village': 'kumhariya',
 'marks': [34, 45, 45, 34, 2]}

In [153]:
d['name']

'Mujtaba Ali'

In [154]:
for i in d:
    print(i)

name
roll_number
village
marks

In [155]:
d['marks']

[34, 45, 45, 34, 2]

In [158]:
for i in d.values(): # for values
    print(i)

Mujtaba Ali
19118034
kumhariya
[34, 45, 45, 34, 2]

In [160]:
for i in d.keys(): # for values
    print(i)

name
roll_number
village
marks

In [161]:
for i in d.items(): # for values
    print(i)

('name', 'Mujtaba Ali')
('roll_number', 19118034)
('village', 'kumhariya')
('marks', [34, 45, 45, 34, 2])

In [163]:
d.keys() # list of all the keys

dict_keys(['name', 'roll_number', 'village', 'marks'])

In [165]:
d.values() # list of values

dict_values(['Mujtaba Ali', 19118034, 'kumhariya', [34, 45, 45, 34, 2]])

In [166]:
for i in d.keys():
    print(d[i])

Mujtaba Ali
19118034
kumhariya
[34, 45, 45, 34, 2]

In [169]:
for i in d.keys():
    if type(d[i])== list:
        print(d[i])

other statement
other statement
other statement
[34, 45, 45, 34, 2]

In [170]:
d

{'name': 'Mujtaba Ali',
 'roll_number': 19118034,
 'village': 'kumhariya',
 'marks': [34, 45, 45, 34, 2]}

In [176]:
d.keys()

dict_keys(['name', 'roll_number', 'village', 'marks'])

In [177]:
d.values()

dict_values(['Mujtaba Ali', 19118034, 'kumhariya', [34, 45, 45, 34, 2]])

In [192]:
for i in d.values():
    if type(i)==list:
        for j in i:
            if j>20:
                print(j)

34
45
45
34

In [194]:
for i in d.items():
    if type(i[1])==list:
        for j in i[1]:
            if j>20:
                print('Elements : ',j)

Elements :  34
Elements :  45
Elements :  45
Elements :  34

In [191]:
for i in d.items():
    if type(i[1])== list:
        for j in i[1]:
            if j>20:
                print(j)

34
45
45
34

In [195]:
s={12,3,2,43}

TypeError: 'set' object does not support item assignment