In [3]:
import pymongo

In [7]:
client = pymongo.MongoClient("mongodb+srv://mujtaba:pass12@cluster0.emzk3.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [8]:
client.list_database_names()

['admin', 'local']

In [10]:

coll=db['mycol']

In [11]:
recored={"name":'Mujtaba Ali',"Village":"Kumhariya"}
coll.insert_one(recored)

In [12]:
db=client['mujtaba']
col=db['muj']
col.insert_one(recored)

In [13]:
client.list_database_names()

['mujtaba', 'test', 'admin', 'local']

In [1]:
class Student:
    pass

In [2]:
S=Student()
S.name="Mujtaba Ali"
S.age=23

In [3]:
S.name

'Mujtaba Ali'

In [4]:
S.age

23

In [6]:
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def __str__(self):
        return f"Hi Welcome {self.name} and your age is : {self.age}"
    def __repr__(self)

In [7]:
T=Student("Mujtaba Ali",23)
T.name

'Mujtaba Ali'

In [9]:
print(T)

Hi Welcome Mujtaba Ali and your age is : 23

In [12]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return f"Hi {self.name} and Age : {self.age}"

In [19]:
class Student(Person):
    def __init__(self,name,age,roll_number,college_name):
        super(Student,self).__init__(roll_number,college_name)
        self.roll_number=roll_number
        self.college_name=college_name

In [20]:
r=Student("Mujtaba Ali",12,19118034,"iftm University")

In [21]:
r.name

19118034

In [24]:
r.roll_number

19118034

In [25]:
r.name

19118034

In [23]:
r.age

'iftm University'

In [10]:

▲
Related Articles
Introduction
Input/Output
Operators
Data Types
Control Flow
Functions
Python OOP
Python Classes and Objects
Constructors in Python
Destructors in Python
Inheritance in Python
Types of inheritance Python
Encapsulation in Python
Polymorphism in Python
Class or Static Variables in Python
class method vs static method in Python
Exception Handling
File handling
Python Regex
Python Collections
Python Advance
Python NumPy
Python Pandas
Python Django
Python JSON
Python CSV
Python MySQL
Python MongoDB
Python OpenCV
Python Selenium
Python Tkinter
Python Kivy
Data Visualization
Python Examples and Quiz

Inheritance in Python
Difficulty Level : Easy
Last Updated : 14 Sep, 2020
Inheritance is the capability of one class to derive or inherit the properties from another class. The benefits of inheritance are: 
 

It represents real-world relationships well.
It provides reusability of a code. We don’t have to write the same code again and again. Also, it allows us to add more features to a class without modifying it.
It is transitive in nature, which means that if class B inherits from another class A, then all the subclasses of B would automatically inherit from class A.
Below is a simple example of inheritance in Python 
 


# A Python program to demonstrate inheritance 
   
# Base or Super class. Note object in bracket.
# (Generally, object is made ancestor of all classes)
# In Python 3.x "class Person" is 
# equivalent to "class Person(object)"
class Person(object):
       
    # Constructor
    def __init__(self, name):
        self.name = name
   
    # To get name
    def getName(self):
        return self.name
   
    # To check if this person is an employee
    def isEmployee(self):
        return False
   
   
# Inherited or Subclass (Note Person in bracket)
class Employee(Person):
   
    # Here we return true
    def isEmployee(self):
        return True
   
# Driver code
emp = Person("Geek1")  # An Object of Person
print(emp.getName(), emp.isEmployee())
   
emp = Employee("Geek2") # An Object of Employee
print(emp.getName(), emp.isEmployee())
Output: 
Geek1 False
Geek2 True

 

What is object class? 
Like Java Object class, in Python (from version 3.x), object is root of all classes. 
In Python 3.x, “class Test(object)” and “class Test” are same. 
In Python 2.x, “class Test(object)” creates a class with object as parent (called new style class) and “class Test” creates old style class (without object parent). Refer this for more details.

Subclassing (Calling constructor of parent class) 
A child class needs to identify which class is its parent class. This can be done by mentioning the parent class name in the definition of the child class. 
Eg: class subclass_name (superclass_name): 
_ _ _ 
_ _ _ 
 





# Python code to demonstrate how parent constructors
# are called.
  
# parent class
class Person( object ):    
  
        # __init__ is known as the constructor         
        def __init__(self, name, idnumber):   
                self.name = name
                self.idnumber = idnumber
        def display(self):
                print(self.name)
                print(self.idnumber)
  
# child class
class Employee( Person ):           
        def __init__(self, name, idnumber, salary, post):
                self.salary = salary
                self.post = post
  
                # invoking the __init__ of the parent class 
                Person.__init__(self, name, idnumber) 
  
                  
# creation of an object variable or an instance
a = Employee('Rahul', 886012, 200000, "Intern")    
  
# calling a function of the class Person using its instance
a.display()

SyntaxError: invalid character in identifier (<ipython-input-10-61e2866c3283>, line 1)

In [11]:
# Python code to demonstrate how parent constructors
# are called.

# parent class
class Person:	

		# __init__ is known as the constructor		
		def __init__(self, name, idnumber):
				self.name = name
				self.idnumber = idnumber
		def display(self):
				print(self.name)
				print(self.idnumber)

# child class
class Employee( Person ):		
		def __init__(self, name, idnumber, salary, post):
				self.salary = salary
				self.post = post

				# invoking the __init__ of the parent class
				Person.__init__(self, name, idnumber)

				
# creation of an object variable or an instance
a = Employee('Rahul', 886012, 200000, "Intern")	

# calling a function of the class Person using its instance
a.display()

Rahul
886012

In [5]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\asus\anaconda3\lib\site-packages (2.2.9)

In [6]:
print("Muujtaab Ali")

Muujtaab Ali

In [9]:
import mysql.connector

In [12]:
db = mysql.connector.connect(host="localhost",user="",password="")

AttributeError: module 'mysql.connector' has no attribute 'connect'

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="",
  password=""
)

print(mydb)

AttributeError: module 'mysql.connector' has no attribute 'connect'