In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\asus\Downloads\banglore (2).csv")

In [4]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [5]:
df=df.dropna(axis=0)

In [6]:
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [7]:
df=df.drop(['area_type','availability'],axis=1)

In [8]:
df.head()

,location,size,society,total_sqft,bath,balcony,price
0,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
3,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
5,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
11,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00

In [9]:
df=df.drop(['society'],axis=1)

In [10]:
df.head()

                    location       size total_sqft  bath  balcony   price
0   Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1           Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
3         Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
5                 Whitefield      2 BHK       1170   2.0      1.0   38.00
11                Whitefield  4 Bedroom       2785   5.0      3.0  295.00

In [11]:
y=df.price

In [13]:
x=df.drop(['price'],axis=1)

In [14]:
x

                       location       size total_sqft  bath  balcony
0      Electronic City Phase II      2 BHK       1056   2.0      1.0
1              Chikka Tirupathi  4 Bedroom       2600   5.0      3.0
3            Lingadheeranahalli      3 BHK       1521   3.0      1.0
5                    Whitefield      2 BHK       1170   2.0      1.0
11                   Whitefield  4 Bedroom       2785   5.0      3.0
...                         ...        ...        ...   ...      ...
13313               Uttarahalli      3 BHK       1345   2.0      1.0
13314         Green Glen Layout      3 BHK       1715   3.0      3.0
13315                Whitefield  5 Bedroom       3453   4.0      0.0
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0      1.0
13318           Padmanabhanagar      4 BHK       4689   4.0      1.0

[7496 rows x 5 columns]

In [15]:
y

0         39.07
1        120.00
3         95.00
5         38.00
11       295.00
          ...
13313     57.00
13314    112.00
13315    231.00
13317     60.00
13318    488.00
Name: price, Length: 7496, dtype: float64

In [16]:
from sklearn.tree import DecisionTreeRegressor

In [17]:
decision_tree_reg=DecisionTreeRegressor()

In [19]:
df=df.drop(['location'],axis=1)

In [20]:
df

            size total_sqft  bath  balcony   price
0          2 BHK       1056   2.0      1.0   39.07
1      4 Bedroom       2600   5.0      3.0  120.00
3          3 BHK       1521   3.0      1.0   95.00
5          2 BHK       1170   2.0      1.0   38.00
11     4 Bedroom       2785   5.0      3.0  295.00
...          ...        ...   ...      ...     ...
13313      3 BHK       1345   2.0      1.0   57.00
13314      3 BHK       1715   3.0      3.0  112.00
13315  5 Bedroom       3453   4.0      0.0  231.00
13317      2 BHK       1141   2.0      1.0   60.00
13318      4 BHK       4689   4.0      1.0  488.00

[7496 rows x 5 columns]

In [21]:
# Encoding of this dataset

In [22]:
pd.Categorical(df['size'])

['2 BHK', '4 Bedroom', '3 BHK', '2 BHK', '4 Bedroom', ..., '3 BHK', '3 BHK', '5 Bedroom', '2 BHK', '4 BHK']
Length: 7496
Categories (15, object): ['1 BHK', '1 RK', '11 BHK', '2 BHK', ..., '6 BHK', '6 Bedroom', '7 BHK', '9 BHK']

In [23]:
freq=df['size'].value_counts().to_dict()

In [24]:
freq

{'2 BHK': 3411,
 '3 BHK': 3012,
 '1 BHK': 353,
 '4 BHK': 347,
 '4 Bedroom': 193,
 '3 Bedroom': 120,
 '5 Bedroom': 16,
 '2 Bedroom': 16,
 '1 RK': 10,
 '5 BHK': 9,
 '6 BHK': 3,
 '6 Bedroom': 3,
 '11 BHK': 1,
 '9 BHK': 1,
 '7 BHK': 1}

In [25]:
df['size']=df['size'].map(freq)

In [26]:
df.head()

    size total_sqft  bath  balcony   price
0   3411       1056   2.0      1.0   39.07
1    193       2600   5.0      3.0  120.00
3   3012       1521   3.0      1.0   95.00
5   3411       1170   2.0      1.0   38.00
11   193       2785   5.0      3.0  295.00

In [27]:
y=df.price

In [28]:
x=df.drop(['price'],axis=1)

In [29]:
x.head()

    size total_sqft  bath  balcony
0   3411       1056   2.0      1.0
1    193       2600   5.0      3.0
3   3012       1521   3.0      1.0
5   3411       1170   2.0      1.0
11   193       2785   5.0      3.0

In [30]:
x

       size total_sqft  bath  balcony
0      3411       1056   2.0      1.0
1       193       2600   5.0      3.0
3      3012       1521   3.0      1.0
5      3411       1170   2.0      1.0
11      193       2785   5.0      3.0
...     ...        ...   ...      ...
13313  3012       1345   2.0      1.0
13314  3012       1715   3.0      3.0
13315    16       3453   4.0      0.0
13317  3411       1141   2.0      1.0
13318   347       4689   4.0      1.0

[7496 rows x 4 columns]

In [34]:
y=pd.DataFrame(y)

In [35]:
decision_tree_reg=DecisionTreeRegressor()

In [38]:
int(df['total_sqft'])

TypeError: cannot convert the series to <class 'int'>

In [36]:
decision_tree_reg.fit(x,y)

ValueError: could not convert string to float: '2100 - 2850'

In [40]:
df['total_sqft'] = df['total_sqft'].astype(int, errors = 'raise')

ValueError: invalid literal for int() with base 10: '2100 - 2850'

In [41]:
df['total_sqft'] = pd.to_numeric(df['total_sqft'],errors = 'coerce')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7496 entries, 0 to 13318
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   size        7496 non-null   int64
 1   total_sqft  7337 non-null   float64
 2   bath        7496 non-null   float64
 3   balcony     7496 non-null   float64
 4   price       7496 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 351.4 KB

In [43]:
df

       size  total_sqft  bath  balcony   price
0      3411      1056.0   2.0      1.0   39.07
1       193      2600.0   5.0      3.0  120.00
3      3012      1521.0   3.0      1.0   95.00
5      3411      1170.0   2.0      1.0   38.00
11      193      2785.0   5.0      3.0  295.00
...     ...         ...   ...      ...     ...
13313  3012      1345.0   2.0      1.0   57.00
13314  3012      1715.0   3.0      3.0  112.00
13315    16      3453.0   4.0      0.0  231.00
13317  3411      1141.0   2.0      1.0   60.00
13318   347      4689.0   4.0      1.0  488.00

[7496 rows x 5 columns]

In [44]:
y=df.price

In [45]:
x=df.drop(['price'],axis=1)

In [46]:
x

       size  total_sqft  bath  balcony
0      3411      1056.0   2.0      1.0
1       193      2600.0   5.0      3.0
3      3012      1521.0   3.0      1.0
5      3411      1170.0   2.0      1.0
11      193      2785.0   5.0      3.0
...     ...         ...   ...      ...
13313  3012      1345.0   2.0      1.0
13314  3012      1715.0   3.0      3.0
13315    16      3453.0   4.0      0.0
13317  3411      1141.0   2.0      1.0
13318   347      4689.0   4.0      1.0

[7496 rows x 4 columns]

In [47]:
decision_tree_reg.fit(x,y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [48]:
df.isnull().sum()

size            0
total_sqft    159
bath            0
balcony         0
price           0
dtype: int64

In [49]:
df['total_sqft']=df['total_sqft'].dropna(axis=0)

In [50]:
df.head()

    size  total_sqft  bath  balcony   price
0   3411      1056.0   2.0      1.0   39.07
1    193      2600.0   5.0      3.0  120.00
3   3012      1521.0   3.0      1.0   95.00
5   3411      1170.0   2.0      1.0   38.00
11   193      2785.0   5.0      3.0  295.00

In [52]:
df.isnull().sum()

size            0
total_sqft    159
bath            0
balcony         0
price           0
dtype: int64

In [57]:
df['total_sqft']=df['total_sqft'].dropna(axis=0,inplace=True)

In [58]:
df.isnull().sum()

size             0
total_sqft    7496
bath             0
balcony          0
price            0
dtype: int64

In [59]:
df=df.drop(['total_sqft'],axis=1)

In [60]:
df.head()

    size  bath  balcony   price
0   3411   2.0      1.0   39.07
1    193   5.0      3.0  120.00
3   3012   3.0      1.0   95.00
5   3411   2.0      1.0   38.00
11   193   5.0      3.0  295.00

In [67]:
y=df.price

In [68]:
x=df.drop(['price'],axis=1)

In [69]:
y

0         39.07
1        120.00
3         95.00
5         38.00
11       295.00
          ...
13313     57.00
13314    112.00
13315    231.00
13317     60.00
13318    488.00
Name: price, Length: 7496, dtype: float64

In [70]:
decision_tree_reg.fit(x,y)

DecisionTreeRegressor()

## mean absolute error

In [71]:
from sklearn.metrics import mean_absolute_error

In [72]:
predicted_home_prices = decision_tree_reg.predict(x)
mean_absolute_error(y, predicted_home_prices)

33.15288321085553

In [74]:
## mean_absolute_error = actual-predicted