In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import seaborn as sns
import matplotlib.pyplot  as plt

In [2]:
df=pd.read_csv(r"C:\Users\asus\Downloads\Admission_Predict.csv")

In [3]:
df.head()

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research  Chance of Admit
0           1        337          118                  4  4.5   4.5  9.65         1              0.92
1           2        324          107                  4  4.0   4.5  8.87         1              0.76
2           3        316          104                  3  3.0   3.5  8.00         1              0.72
3           4        322          110                  3  3.5   2.5  8.67         1              0.80
4           5        314          103                  2  2.0   3.0  8.21         0              0.65

In [4]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [6]:
report=ProfileReport(df)

In [7]:
report.to_widgets()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=22.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [8]:
import statsmodels.formula.api as smf

In [12]:
os=smf.ols(formula="GRE Score ~ Chance of Admit",data=df).fit()
os.summay()

SyntaxError: invalid syntax (<unknown>, line 1)

In [13]:
df.head()

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research  Chance of Admit
0           1        337          118                  4  4.5   4.5  9.65         1              0.92
1           2        324          107                  4  4.0   4.5  8.87         1              0.76
2           3        316          104                  3  3.0   3.5  8.00         1              0.72
3           4        322          110                  3  3.5   2.5  8.67         1              0.80
4           5        314          103                  2  2.0   3.0  8.21         0              0.65

In [19]:
df=df.rename({"ChanceToAdmit":"Chance of Admit"},inplace=True)

AttributeError: 'NoneType' object has no attribute 'head'