In [1]:
import pandas as pd

In [2]:
df_bank=pd.read_csv(r"https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv",sep=";")

In [3]:
df_bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
df_bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
pd.options.display.max_rows=10

In [6]:
df_bank

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [ ]:
df_bank=pd.read_csv(r"https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv",sep=";",nrows=7)

In [ ]:
df_bank

In [ ]:
df_chunk=pd.read_csv(r"https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv",sep=";",nrows=10,chunksize=100)

In [ ]:
 for i in df_chunk:
        print(i)

In [ ]:
df_bank.to_csv('cpoy.csv') # to store a dataset in our hard disk

In [ ]:
df_bank.to_csv(r"E:\copyfromjupiter.txt") # any postion of your dataset

In [ ]:
df_bank.to_csv(r"E:\copyfromjupiter.txt",sep="@")

In [ ]:
import sys # system package clipboard

In [ ]:
df_st=pd.read_csv(r"C:\Users\asus\Internshala\variance.csv",nrows=10)

In [ ]:
df_st

In [11]:
df_st.to_csv(na_rep="mujtaba")

NameError: name 'df_st' is not defined

In [ ]:
df_st.to_csv(sys.stdout,na_rep=12)

In [ ]:
df_st.to_csv("trs.csv",index=False,header=False)

In [ ]:
df_st.columns

In [ ]:
df_st.columns

In [ ]:
df_st.to_csv("ttt.csv",header=False)

In [ ]:
df_st.to_csv("ttt1.csv",index=False,columns=['Student', 'Gender', 'Subject'])

In [ ]:
df_st

In [ ]:
dates=pd.date_range('1/1/2000',periods=7)

In [ ]:
pd.date_range('1/1/2000','1/4/2020',periods=70) # next 70 date will reruns

In [ ]:
type(dates)

In [ ]:
dates

In [ ]:
import numpy as np

In [ ]:
np.arange(1.23,54) # we can float number also

In [ ]:
ts=pd.Series(np.arange(70))

In [ ]:
ts

In [ ]:
tr=pd.date_range('1/1/2020',periods=70)

In [ ]:
23/3

In [ ]:
ts=pd.Series(np.arange(70),index=tr) # data made a of the index number

In [ ]:
ts

In [ ]:
ts.to_csv('Series.csv',header=False)

In [ ]:
import csv
f=open(r"C:\Users\asus\Internshala\variance.csv")
for i in f:
    print(i)

In [ ]:
reader=csv.reader(f)
list(reader)

In [ ]:
for i in open(r"C:\Users\asus\Internshala\variance.csv"):
    print(i)

In [ ]:
f.seek(0)

In [ ]:
reader=csv.reader(f)
list(reader)

In [ ]:
b=[2,3,4,'asfsa','dsfgr',24.23]
c=[2,3,4,'asfsa','dsfgr',24.23]

In [ ]:
for i,j in zip(b,c):
    print(i,j)

In [ ]:
a,b=(1,(1,2,32))

In [ ]:
a # at index number 0

In [ ]:
b # at index number 1

In [ ]:
l1=[1,2,3,'sdf',3434.345,'asdfas']
l2=[65,4,3,'567',45,3]

In [ ]:
for i , j in zip(l1,l2):
    print(i,j)

In [ ]:
{i:j for i in zip(l1,l2)} # this is a dictionary operation

In [17]:
# read JSON data Jave Script object notation

In [18]:
obj='''{"menu": {
    "header": "SVG Viewer",
    "items": [
        {"id": "Open"},
        {"id": "OpenNew", "label": "Open New"},
        null,
        {"id": "ZoomIn", "label": "Zoom In"},
        {"id": "ZoomOut", "label": "Zoom Out"},
        {"id": "OriginalView", "label": "Original View"},
        null,
        {"id": "Quality"},
        {"id": "Pause"},
        {"id": "Mute"},
        null,
        {"id": "Find", "label": "Find..."},
        {"id": "FindAgain", "label": "Find Again"},
        {"id": "Copy"},
        {"id": "CopyAgain", "label": "Copy Again"},
        {"id": "CopySVG", "label": "Copy SVG"},
        {"id": "ViewSVG", "label": "View SVG"},
        {"id": "ViewSource", "label": "View Source"},
        {"id": "SaveAs", "label": "Save As"},
        null,
        {"id": "Help"},
        {"id": "About", "label": "About Adobe CVG Viewer..."}
    ]
}}

'''

In [19]:
type(obj)

str

In [20]:
import json
result=json.loads(obj)
type(result)

dict

In [ ]:
asjson=json.dumps(result)
type(asjson) # convert dict to str

In [ ]:
result['menu']

In [ ]:
menu=pd.DataFrame(result['menu'],columns=['header','items'])

In [ ]:
menu

In [ ]:
menu.to_json('jsonexample.json')

In [ ]:
rt=pd.read_json('sonexample.json')

In [ ]:
print(menu.to_json())

In [ ]:
print(menu.to_json(orient='records'))

In [ ]:
df_bsk=pd.read_html("https://www.basketball-reference.com/leagues/NBA_2021.html")

In [ ]:
type(df_bsk) # it retun=rns the list of tables or a collection of dataframe

In [ ]:
for i in df_bsk:
    print(i)

In [ ]:
len(df_bsk)

In [ ]:
table=df_bsk[0]

In [ ]:
table.head()

In [ ]:
table.shape

In [ ]:
table[['W','GB']]

# Binary Data Formats

In [5]:
import pandas as pd

In [6]:
dfcsv=pd.read_csv(r"C:\Users\asus\Internshala\variance.csv")

In [7]:
dfcsv.head()

   Student Overall Marks Gender    Subject
0    Anish          9700   Male    English
1  Rishabh            83   Male    English
2     Ajay           NaN   Male    Physics
3  Abhinav            86   Male  Chemistry
4   Anurag            91   Male    English

In [8]:
dfcsv.to_pickle('dfcsvbinary')

In [9]:
pd.read_pickle('dfcsv_pickl')

    Student Overall Marks     Gender    Subject
0     Anish          9700       Male    English
1   Rishabh            83       Male    English
2      Ajay           NaN       Male    Physics
3   Abhinav            86       Male  Chemistry
4    Anurag            91       Male    English
..      ...           ...        ...        ...
95  Aaditya            77       Male  Chemistry
96    vivek          Male        NaN        NaN
97    Tisha             7     Female    English
98       73          Male    English        NaN
99   Ishita        Female  Chemistry        NaN

[100 rows x 4 columns]

In [10]:
import numpy as np

In [48]:
frame=pd.DataFrame({'a':np.random.randn(100)})

In [49]:
frame

           a
0   0.985508
1   1.379280
2  -0.990775
3  -1.456398
4   0.079053
..       ...
95 -1.185920
96  0.601175
97  0.014320
98 -0.815260
99  2.550749

[100 rows x 1 columns]

In [16]:
frame=pd.DataFrame({'a':np.random.randn(100)})
store=pd.HDFStore('mysata.hs')
store['obj1']=frame
store['obj1_col']=frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mysata.hs

In [17]:
store['obj1']

           a
0  -0.567317
1  -0.940229
2  -1.130174
3  -0.291992
4  -1.604126
..       ...
95  1.377277
96 -0.862961
97  2.253001
98  0.626090
99  0.214189

[100 rows x 1 columns]

In [1]:
# Web API

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('trs.csv')

In [5]:
df.shape

(9, 4)

In [6]:
df.size

36

In [7]:
df.ndim

2

In [8]:
df.columns

Index(['Anish', '9700.0', 'Male', 'English'], dtype='object')

In [10]:
df.to_csv('myfill.csv',sep="&")

In [12]:
df_st=pd.read_csv(r"C:\Users\asus\Internshala\variance.csv",nrows=10)

In [13]:
df_st

   Student  Overall Marks  Gender    Subject
0    Anish         9700.0    Male    English
1  Rishabh           83.0    Male    English
2     Ajay            NaN    Male    Physics
3  Abhinav           86.0    Male  Chemistry
4   Anurag           91.0    Male    English
5    Ajeet            NaN    Male    Physics
6    Varun           83.0    Male  Chemistry
7   Rajeev           64.0    Male  Chemistry
8   sanjay           66.0    Male  Chemistry
9    NISHA           58.0  Female        NaN

In [14]:
df_st.to_csv("sdfsdf.csv",na_rep="rampur")

In [24]:
import json

In [30]:
dic=json.loads(obj)

In [31]:
dic

{'menu': {'header': 'SVG Viewer',
  'items': [{'id': 'Open'},
   {'id': 'OpenNew', 'label': 'Open New'},
   None,
   {'id': 'ZoomIn', 'label': 'Zoom In'},
   {'id': 'ZoomOut', 'label': 'Zoom Out'},
   {'id': 'OriginalView', 'label': 'Original View'},
   None,
   {'id': 'Quality'},
   {'id': 'Pause'},
   {'id': 'Mute'},
   None,
   {'id': 'Find', 'label': 'Find...'},
   {'id': 'FindAgain', 'label': 'Find Again'},
   {'id': 'Copy'},
   {'id': 'CopyAgain', 'label': 'Copy Again'},
   {'id': 'CopySVG', 'label': 'Copy SVG'},
   {'id': 'ViewSVG', 'label': 'View SVG'},
   {'id': 'ViewSource', 'label': 'View Source'},
   {'id': 'SaveAs', 'label': 'Save As'},
   None,
   {'id': 'Help'},
   {'id': 'About', 'label': 'About Adobe CVG Viewer...'}]}}

In [32]:
dic['menu']['items']

[{'id': 'Open'},
 {'id': 'OpenNew', 'label': 'Open New'},
 None,
 {'id': 'ZoomIn', 'label': 'Zoom In'},
 {'id': 'ZoomOut', 'label': 'Zoom Out'},
 {'id': 'OriginalView', 'label': 'Original View'},
 None,
 {'id': 'Quality'},
 {'id': 'Pause'},
 {'id': 'Mute'},
 None,
 {'id': 'Find', 'label': 'Find...'},
 {'id': 'FindAgain', 'label': 'Find Again'},
 {'id': 'Copy'},
 {'id': 'CopyAgain', 'label': 'Copy Again'},
 {'id': 'CopySVG', 'label': 'Copy SVG'},
 {'id': 'ViewSVG', 'label': 'View SVG'},
 {'id': 'ViewSource', 'label': 'View Source'},
 {'id': 'SaveAs', 'label': 'Save As'},
 None,
 {'id': 'Help'},
 {'id': 'About', 'label': 'About Adobe CVG Viewer...'}]

In [41]:
import numpy as np

In [46]:
type(pd.DataFrame(dic['menu']))

pandas.core.frame.DataFrame

In [51]:
pd.DataFrame({'a': np.random.randn(100)})

           a
0   0.864026
1  -0.291352
2   0.573312
3   0.188837
4   0.855050
..       ...
95  1.409480
96  0.847350
97 -0.527437
98  0.588847
99  0.811689

[100 rows x 1 columns]