In [1]:
# pattern of programming is scripting oop and scripting

In [2]:
# class -> it is a classification of a real world entity like student class, animal class animal class ect

In [3]:
l=23
print(type(l))

<class 'int'>

In [4]:
class test:
    pass

In [5]:
s="Mujtaba"

In [6]:
print(type(s))

<class 'str'>

In [7]:
class person:
    pass

In [8]:
P=person # person classs a class

In [9]:
print(P)

<class '__main__.person'>

In [10]:
P.name="Mujtaba"
P.course="BTech"
P.d0b=453

In [11]:
a=person
a.name="dgsdf"
a.dob=231223
a.employee=342

In [12]:
P.name

'dgsdf'

In [13]:
P.course

'BTech'

In [14]:
a.name

'dgsdf'

In [15]:
type(P.name)

str

In [16]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=2423

In [17]:
p=person("Mujtaba Ali","ali",2423)
print(p)

<__main__.person object at 0x000001DFE3509FA0>

In [18]:
print(p)

<__main__.person object at 0x000001DFE3509FA0>

In [19]:
s=person("arif","sdf",34)

In [20]:
s.name

'arif'

In [21]:
p.name

'Mujtaba Ali'

In [22]:
class person:
    def __init__(self,name,surname,dob):
        self.name1=name # name1 is catucal varible that is associated with self and sel points to classs
        self.surname1=surname
        self.dob1=2423

In [23]:
p=person("we",'er',45)

In [24]:
p.name1

'we'

In [25]:
# we can make many number of varibe or objects of class

In [26]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob
    def test(self,n):
        self.t=n
    def __str__(self):# inbuild method
        #return "%s is a first name and its surnmae is %s birth is %d" %(self.name,self.surname,self.dob) # plcaceholer
        return "is first {}name and surname is {} and birth is {}".format(self.name,self.surname,self.dob)

In [27]:
p=person("bharat","bhushan",345)

In [28]:
p.test("mujtaba")

In [29]:
s=person("we","er",342)

In [30]:
s.test(23)

In [31]:
s.test(45)

In [32]:
s.t

45

In [33]:
print(s)

is first wename and surname is er and birth is 342

In [34]:
p

In [35]:
print(p)

is first bharatname and surname is bhushan and birth is 345

In [36]:
s

In [37]:
print(p)

is first bharatname and surname is bhushan and birth is 345

In [38]:
#it is used to initize the class varible the n we can use that

In [39]:
class test1: # second way to 
    pass

In [40]:
p=test1()

In [41]:
p.name="sdfs"
p.course="mbbs"

In [42]:
p.name

'sdfs'

In [43]:
p.course

'mbbs'

In [44]:
printomg

NameError: name 'printomg' is not defined

In [1]:
# 3 rd way to write class

class person:
    def pass_name(self,name):
        self.name=name
    def pass_surname(self,surname):
        self.surname=surname
    def pass_dob(self,dob) :
        self.dob=dob

In [2]:
p=person() # made a object of person classs

In [3]:
p.pass_name("Mujtaba")

In [4]:
p.name

'Mujtaba'

In [5]:
p.pass_surname("ali")

In [6]:
p.surname

'ali'

In [85]:
p.pass_dob(233434)

In [86]:
p.dob

233434

In [87]:
 # prefferd way __init__ method
    # public -> abstraction -> public , private , protected

In [88]:
# there is no such keyword like privete  , protected, and public

In [89]:
p

In [91]:
p=person("asdf","dsf",32453)

TypeError: person() takes no arguments

In [97]:
#p._name

In [96]:
#(_var) it is called protected(_ is a notation)

In [94]:
p.__dict__ #(how it is string the data is is a inbuid method for cheking)

{'name': 'Mujtaba', 'surname': 'ali', 'dob': 233434}

In [95]:
p

In [7]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob
    def test(self,n):
        self.t=n
    def __str__(self):# inbuild method
        #return "%s is a first name and its surnmae is %s birth is %d" %(self.name,self.surname,self.dob) # plcaceholer
        return "is first {}name and surname is {} and birth is {}".format(self.name,self.surname,self.dob)

In [241]:
p=person("sdf","sdfg",234)

In [242]:
p.test(2)

In [243]:
p.t

2

In [244]:
p.__dict__

{'name': 'sdf', 'surname': 'sdfg', 'dob': 234, 't': 2}

In [245]:
print(p)

is first sdfname and surname is sdfg and birth is 234

In [246]:
p._name # it is just a (_) notation protected varible that is used to co,ple ted that

AttributeError: 'person' object has no attribute '_name'

In [145]:
print("mujtaba Ali")

mujtaba Ali

In [146]:
p.__dict__# (how it is trying to store the data)

{'_name': 'sdf', '_surname': 'sdfg', 'dob': 234}

In [147]:
#  __(double undersroe mense private)

In [148]:
# inheritance # we inherit something from in

In [149]:
class student(person):# i inherited person class int the student class
    def __init__(self,roll_number,college_name,*args):
        super(student,self).__init__(*args)
        self.roll_number=roll_number
        self.college_name=college_name

In [1]:
o=student(234,'sdsfgsdf',"sdf","dfgd",6)

NameError: name 'student' is not defined

In [152]:
o._name

'sdf'

In [155]:
o.test(34)

In [158]:
class a:
    def test(self):
        print("my name is mujtaba Ali")
class b:
    def test(self):
        print("my surname is ali")
class c(a,b):
    obja=a()
    objb=b()
    obja.test()
    objb.test()

my name is mujtaba Ali
my surname is ali

In [159]:
objc=c()
objc.test()

my name is mujtaba Ali

In [160]:
class a:
    def test(self):
        print("my name is mujtaba Ali")
class b:
    def test(self):
        print("my surname is ali")
class c(b,a):
    obja=a()
    objb=b()
    obja.test()
    objb.test()

my name is mujtaba Ali
my surname is ali

In [161]:
objc=c()

In [162]:
objc.test()

my surname is ali

In [2]:
class student:
    def __init__(self,name,course_name,college_name,fee):
        self.name=name
        self.course_name=course_name
        self.college_name=college_name
        self.fee=fee

In [4]:
s=student("mujtaba Ali","BTech","IFTM University",102000)

In [5]:
s.name

'mujtaba Ali'

In [6]:
class student1:
    pass

In [7]:
s=student1()

In [8]:
s.name="Mujtaba"

In [9]:
s.name

'Mujtaba'

In [10]:
s.course_name="BTech"

In [11]:
s.course_name

'BTech'

In [12]:
s.college_name="TMU"

In [13]:
s.college_name

'TMU'

In [14]:
s.fee=102932

In [15]:
s.fee

102932

In [127]:
class student2:
    def pass_name(self,name):
        self.name=name
    def pass_course(self,course):
        self.course=course
    def pass_college(self, college):
        self.college=college
    def pass_fee(self,fee):
        self.fee=fee
    def pass_full(self):
        print(self.name)

In [128]:
t=student2

In [129]:
t.pass_college="hasb"
t.pass_course="BBA"
t.pass_fee=2334
t.pass_name="smjsdfd"

In [130]:
t.pass_full()

TypeError: pass_full() missing 1 required positional argument: 'self'

In [39]:
s=student2()

In [40]:
s.pass_name="Mujtaba Ali Pasha"
s.pass_fee=102993
s.pass_college="MIT"
s.pass_course="MBBS"

In [35]:
s.pass_college

'MIT'

In [36]:
s.pass_course

'MBBS'

In [122]:
s.pass_full()

AttributeError: 'phone' object has no attribute 'pass_full'

In [117]:
class student:
    def __init__(self,name,course_name,college_name,fee):
        self.name=name
        self.course_name=course_name
        self.college_name=college_name
        self.fee=fee
    def full_info(self):
        return "name is : {} , course_name is : {} , College Name : {} and fee is {}".format(self.name,self.course_name,self.college_name,self.fee)

In [118]:
tt=student("Tahir","MBBS","AMU",102000)

In [119]:
tt.name

'Tahir'

In [120]:
tt.fee

102000

In [121]:
tt.full_info()

'name is : Tahir , course_name is : MBBS , College Name : AMU and fee is 102000'

In [177]:
class phone:
    def __init__(self,name,model_number,price):
        self.name=name
        self.model_number=model_number
        self.price=price
    def full(self):
        return self.name,self.model_number,self.price
        #print(self.full_info)

In [178]:
s=phone("VIVO",'Y12',10000)

In [179]:
s.name

'VIVO'

In [180]:
s.full()

('VIVO', 'Y12', 10000)

In [181]:
class phone:
    def __init__(self,name,model_number,price):
        self.__name=name # this is protected
        self.model_number=model_number
        self.price=price
    def full(self):
        return self.name,self.model_number,self.price
        #print(self.full_info)

In [182]:
# in python there is no such keyword like private,protected and publc to define what it  is ?

In [183]:
rr=phone("VIVO",'Y12',10000)

In [184]:
rr.full()

AttributeError: 'phone' object has no attribute 'name'

In [185]:
# inheritance :--- 
# simple inheritance

In [2]:
class Person: # parent class
    def __init__(self,name,contact,location):
        self._name=name
        self.contact=contact
        self.location=location
        
class Student(Person):
    def __init__(self,course,college,*args):
        super(Student,self).__init__(*args)
        self.course=course
        self.college=college
    def full_details(self):
        return self._name,self.contact,self.location,self.course,self.college
B=Student("BTech","TMU","Mujtaba Ali Kum",9012485103,"Rampur")

In [3]:
B._name

'Mujtaba Ali Kum'

In [4]:
B.course

'BTech'

In [201]:
B.full_details()# actually it returns the tuple

('Mujtaba Ali Kum', 9012485103, 'Rampur', 'BTech', 'TMU')

In [202]:
# multiple inheritance

In [205]:
class A:
    def test(self):
        print("inside class A")
class B:
    def test(self):
        print("Inside class B")
class C(A,B):
    pass

In [206]:
a=A()

In [207]:
a.test()

inside class A

In [208]:
b=B()
b.test()

Inside class B

In [287]:
class Person: # parent class
    def __init__(self,name,contact,location):
        self.name=name
        self.contact=contact
        self.location = location
    def __str__(self):
        return "My name is : %s , contact number is  : %d  and my location is  : %s" %(self.name,self.contact,self.location)

In [288]:
S=Person("Mujtaba",9012485103,'rampur')

In [289]:
print(type(S))

<class '__main__.Person'>

In [290]:
S.__dict__

{'name': 'Mujtaba', 'contact': 9012485103, 'location': 'rampur'}

In [291]:
s

In [292]:
print(S)

My name is : Mujtaba , contact number is  : 9012485103  and my location is  : rampur

In [16]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return f"{self.name} {self.age}"
    
class manager(Emp):
    def __init__(self,salary,*args):
        super(manager,self).__init__(*args)
        self.salary=salary

In [17]:
s=manager(100000,"Mujtaba Ali",12)

In [18]:
s.name

'Mujtaba Ali'