 # NUmpy array

In [15]:
import numpy as np # np is a alias

In [16]:
np.array(['mujtaba',2,3,4])

array(['mujtaba', '2', '3', '4'], dtype='<U7')

In [17]:
type(np.array(['mujtaba',2,3,4]))

numpy.ndarray

In [18]:
np.array([1,2,3,34.2]) # upcast all the data if there is nany upcast varible

array([ 1. ,  2. ,  3. , 34.2])

In [19]:
np.array([[1,2,3],[4,5,6]],ndmin=4)

array([[[[1, 2, 3],
         [4, 5, 6]]]])

In [20]:
np.array([1,2,3],ndmin=5)

array([[[[[1, 2, 3]]]]])

In [21]:
np.array([1,2,3],ndmin=2)

array([[1, 2, 3]])

In [22]:
np.array([12,3,4,], dtype=complex) # we can convert the one data type to another data type

array([12.+0.j,  3.+0.j,  4.+0.j])

In [23]:
np.array([12,3,4,], dtype=str)

array(['12', '3', '4'], dtype='<U2')

In [24]:
np.array([12,3,4,], dtype=float)

array([12.,  3.,  4.])

In [28]:
x=np.array([(1,2),(3,4)],dtype=[('a','<i2'),('b','<i8')])

In [29]:
x

array([(1, 2), (3, 4)], dtype=[('a', '<i2'), ('b', '<i8')])

In [34]:
type(x[0][1]) # first row

numpy.int64

In [35]:
x=np.array([(1,2),(3,4)],dtype=[('a','<i8'),('b','<i8')])

In [38]:
type(x[0][0]) # i2-> 16bit , i4-> 32 bit and i8-> 64 bit

numpy.int64

In [39]:
type(x)

numpy.ndarray

In [43]:
type(np.array([[1,2,3],[45,34,56]]))# array

numpy.ndarray

In [42]:
type(np.mat(np.array([[1,2,3],[45,34,56]])))# matrix

numpy.matrix

# Numpy.asarray

In [44]:
a=[1,2]
type(a)

list

In [46]:
np.asarray(a) # np.array similat

array([1, 2])

In [48]:
np.asarray(a,dtype=np.int16) # comverted into floating number

array([1, 2], dtype=int16)

In [49]:
np.asarray(a,dtype=np.int32)

array([1, 2])

In [51]:
np.asanyarray([1,2]) # matrix is a sbset of array

array([1, 2])

In [56]:
t=np.mat([1,2,3])

In [57]:
type(t)

numpy.matrix

In [55]:
type(np.array(t))

numpy.ndarray

In [58]:
# numpy.copy

In [59]:
x=np.array(a,copy=True)

In [81]:
x=y # shallow copy

In [61]:
y=x # (x data is assign to y) there is no new space for y , y is pointing to same location

In [72]:
y[0]=100

In [73]:
if x is y: # same location
    print("true")

true

In [74]:
t=np.copy(x) # deep copy

In [75]:
t

array([100,   2])

In [70]:
if t is x : # it is not stay at same location
    print("true")
else:
    print("false")

false

In [76]:
t

array([100,   2])

In [77]:
t[0]

100

In [78]:
t[0]=12

In [79]:
t

array([12,  2])

In [80]:
x

array([100,   2])

# Numpy.fromfunction

In [82]:
np.fromfunction(lambda i,j:i==j,(3,3),dtype=int)

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [83]:
np.fromfunction(lambda i,j:i*j,(3,3),dtype=int)

array([[0, 0, 0],
       [0, 1, 2],
       [0, 2, 4]])

In [85]:
np.fromfunction(lambda i,j,k:i*j*k,(3,3,3),dtype=int)

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 1, 2],
        [0, 2, 4]],

       [[0, 0, 0],
        [0, 2, 4],
        [0, 4, 8]]])

In [88]:
iterable=[x*x for x in range(5)]

In [89]:
np.fromiter(iterable,float)

array([ 0.,  1.,  4.,  9., 16.])

In [91]:
np.fromstring('1,3',dtype=int,sep=',')

array([1, 3])

In [92]:
x1=np.array(['a','b','12','xyz'])

In [93]:
x2=np.array([1,2,3,4])
x3=np.array([1.,2,3,4])
x4=np.array([1.,4,5,6])

In [94]:
type(x1)

numpy.ndarray

In [95]:
type(x3)

numpy.ndarray

In [97]:
x=np.core.records.fromarrays([x1,x2,x3,x4],names='a,b,c,d')

In [98]:
x

rec.array([('a', 1, 1., 1.), ('b', 2, 2., 4.), ('12', 3, 3., 5.),
           ('xyz', 4, 4., 6.)],
          dtype=[('a', '<U3'), ('b', '<i4'), ('c', '<f8'), ('d', '<f8')])

In [99]:
x[0]

('a', 1, 1., 1.)

In [100]:
x[1] # it returns that index values

('b', 2, 2., 4.)

# data types

In [104]:
my_list=[1,2,3]
import numpy as np
arr=np.array(my_list)
print("Type/class of the object : ",type(arr))
print('Here is the vector\n--------------------\n',arr)

Type/class of the object :  <class 'numpy.ndarray'>
Here is the vector
--------------------
 [1 2 3]

In [105]:
my_mat=[[1,2,3],[4,5,6],[6,5,4]]
my_mat

[[1, 2, 3], [4, 5, 6], [6, 5, 4]]

In [107]:
mt=np.mat(my_mat)

In [108]:
mt.shape

(3, 3)

In [109]:
mt.size

9

In [110]:
mt.dtype

dtype('int32')

# arnage and linspace

In [115]:
list(range(0,10,2)) # it can cotain only integer number

[0, 2, 4, 6, 8]

In [117]:
np.arange(0,10,2)

array([0. , 2.2, 4.4, 6.6, 8.8])

In [118]:
np.arange(0,10,2.3)

array([0. , 2.3, 4.6, 6.9, 9.2])

In [119]:
np.arange(0,10.34,2.3)

array([0. , 2.3, 4.6, 6.9, 9.2])

In [120]:
np.arange(3.4,10.34,2.3)

array([ 3.4,  5.7,  8. , 10.3])

In [122]:
np.arange(-23,345,1)

array([-23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11,
       -10,  -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1,   0,   1,   2,
         3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,  14,  15,
        16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,
        29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
        42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,
        55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
        68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,
        81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,
        94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106,
       107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119,
       120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132,
       133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145,
       146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158,
       159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
       172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184,
       185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197,
       198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210,
       211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223,
       224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236,
       237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249,
       250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262,
       263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275,
       276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288,
       289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301,
       302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314,
       315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327,
       328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340,
       341, 342, 343, 344])

In [130]:
np.linspace(3,4,50) # third argument refers numebr of values it is considing the upper bound also

array([3.        , 3.02040816, 3.04081633, 3.06122449, 3.08163265,
       3.10204082, 3.12244898, 3.14285714, 3.16326531, 3.18367347,
       3.20408163, 3.2244898 , 3.24489796, 3.26530612, 3.28571429,
       3.30612245, 3.32653061, 3.34693878, 3.36734694, 3.3877551 ,
       3.40816327, 3.42857143, 3.44897959, 3.46938776, 3.48979592,
       3.51020408, 3.53061224, 3.55102041, 3.57142857, 3.59183673,
       3.6122449 , 3.63265306, 3.65306122, 3.67346939, 3.69387755,
       3.71428571, 3.73469388, 3.75510204, 3.7755102 , 3.79591837,
       3.81632653, 3.83673469, 3.85714286, 3.87755102, 3.89795918,
       3.91836735, 3.93877551, 3.95918367, 3.97959184, 4.        ])

In [132]:
#Matrix Creation

In [136]:
print('zeros matrix ...........\n')
np.zeros((3,4,3))

zeros matrix ...........

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [139]:
print("Vector of oncces : ")
np.zeros((4,3))

Vector of oncces :

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [143]:
print("Vector of oncces : ")
np.ones((3,2,4))

Vector of oncces :

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [144]:
np.ones(3)+3

array([4., 4., 4.])

In [145]:
np.ones((4,5))+3 # we are adding 3 in each varible

array([[4., 4., 4., 4., 4.],
       [4., 4., 4., 4., 4.],
       [4., 4., 4., 4., 4.],
       [4., 4., 4., 4., 4.]])

In [147]:
np.empty((5,6),dtype=int)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

In [150]:
t=np.eye(4)  # emtity matrix
t.shape

(4, 4)

In [151]:
t.size

16

In [181]:
r=np.arange(4)

In [182]:
r.ndim

1

In [154]:
np.linspace(2.0,3.0,retstep=True,num=40)

(array([2.        , 2.02564103, 2.05128205, 2.07692308, 2.1025641 ,
        2.12820513, 2.15384615, 2.17948718, 2.20512821, 2.23076923,
        2.25641026, 2.28205128, 2.30769231, 2.33333333, 2.35897436,
        2.38461538, 2.41025641, 2.43589744, 2.46153846, 2.48717949,
        2.51282051, 2.53846154, 2.56410256, 2.58974359, 2.61538462,
        2.64102564, 2.66666667, 2.69230769, 2.71794872, 2.74358974,
        2.76923077, 2.79487179, 2.82051282, 2.84615385, 2.87179487,
        2.8974359 , 2.92307692, 2.94871795, 2.97435897, 3.        ]),
 0.02564102564102564)

In [155]:
np.logspace(2.0,30,num=4,base=10)

array([1.00000000e+02, 2.15443469e+11, 4.64158883e+20, 1.00000000e+30])

In [156]:
np.logspace(2.0,30,num=4,base=2)

array([4.00000000e+00, 2.58031831e+03, 1.66451065e+06, 1.07374182e+09])

In [175]:
(np.zeros((3,4,8))+5)*2

array([[[10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.]],

       [[10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.]],

       [[10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.],
        [10., 10., 10., 10., 10., 10., 10., 10.]]])

In [159]:
np.linspace(4,8,80)

array([4.        , 4.05063291, 4.10126582, 4.15189873, 4.20253165,
       4.25316456, 4.30379747, 4.35443038, 4.40506329, 4.4556962 ,
       4.50632911, 4.55696203, 4.60759494, 4.65822785, 4.70886076,
       4.75949367, 4.81012658, 4.86075949, 4.91139241, 4.96202532,
       5.01265823, 5.06329114, 5.11392405, 5.16455696, 5.21518987,
       5.26582278, 5.3164557 , 5.36708861, 5.41772152, 5.46835443,
       5.51898734, 5.56962025, 5.62025316, 5.67088608, 5.72151899,
       5.7721519 , 5.82278481, 5.87341772, 5.92405063, 5.97468354,
       6.02531646, 6.07594937, 6.12658228, 6.17721519, 6.2278481 ,
       6.27848101, 6.32911392, 6.37974684, 6.43037975, 6.48101266,
       6.53164557, 6.58227848, 6.63291139, 6.6835443 , 6.73417722,
       6.78481013, 6.83544304, 6.88607595, 6.93670886, 6.98734177,
       7.03797468, 7.08860759, 7.13924051, 7.18987342, 7.24050633,
       7.29113924, 7.34177215, 7.39240506, 7.44303797, 7.49367089,
       7.5443038 , 7.59493671, 7.64556962, 7.69620253, 7.74683544,
       7.79746835, 7.84810127, 7.89873418, 7.94936709, 8.        ])

In [164]:
mat=np.mat([[1,2,3,4,5,5],[34,45,3,2,532,45],[34,45,3,2,532,45]])

In [165]:
mat.shape

(3, 6)

In [168]:
matones=np.ones((4,4,2))

In [169]:
matones.shape

(4, 4, 2)

In [170]:
matones.size

32

In [171]:
matones.dtype

dtype('float64')

In [172]:
x1=np.ones((3,3,3))
x2=np.zeros((3,3,3))

In [173]:
x1+x2

array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])

In [177]:
x1.ndim

3

In [178]:
matones.ndim

3

In [185]:
a=9
np.array(a).ndim # it is scaler quantity

0

In [186]:
a=9
np.array([1,2,3]).ndim # it is vector quantity

1

In [1]:
import numpy as np

In [5]:
t=np.array([1,2,3,4])

In [6]:
t.shape

(4,)

In [8]:
t.ndim # 1 cordinate is goignn to incaged

1

In [17]:
t=np.array([[1,2,3],[4,3,4],[7,7,4]],dtype=float)

In [18]:
t.shape

(3, 3)

In [16]:
t.ndim

2

In [19]:
t

array([[1., 2., 3.],
       [4., 3., 4.],
       [7., 7., 4.]])

In [20]:
t=np.array([[1,2,3],[4,3,4],[7,7,4]],dtype=complex)

In [21]:
t

array([[1.+0.j, 2.+0.j, 3.+0.j],
       [4.+0.j, 3.+0.j, 4.+0.j],
       [7.+0.j, 7.+0.j, 4.+0.j]])

In [24]:
mt=np.mat(t)

In [25]:
mt.shape

(3, 3)