In [ ]:
def AskInt():
    try: 
        v=int(input('Please try to enter an integer'))
    except Exception as e:
        print(e)
    finally:
        print('this is a final block')
        try:
            print(v)
        except Exception as e:
            print(e)
        else:
            print('we have the value of v') # after getting an error loop will be terminated

In [16]:
f=open('myfile.txt','r')
f.read()

'sdafssdafs'

In [ ]:
for i in open('myfile.txt'):
    print(i)

In [ ]:
f.read()

In [ ]:
try:
    f=open('myfi.txt',mode="r") # it handles only run time issues
    f.write("this is error")
except:
    print('this file is not available')
finally:
    print('this will execute every time')
    try:
        f=open('test.test')
    except Exception as e: # if i am not aware about the error type then use Exception Error
        print(e)
    
    # this is a synatactical error

In [ ]:
def AskInt():
    try: 
        v=int(input('Please try to enter an integer'))
    except Exception as e:
        print(e)
    finally:
        print('this is a final block')
        try:
            print(v)
        except Exception as e:
            print(e)

In [ ]:
AskInt()

In [ ]:
AskInt()

In [16]:
def IterLoop():
    while True:
        try:
            v=int(input())
            print(v)
            break
        except :
            print('enter again : ')
            continue

In [17]:
IterLoop()

345
345

In [22]:
def IterLoop1():
    while True:
        try:
            v=int(input())
            print(v)
            return # return to a function
        except :
            print('enter again : ')
    print('this is mmujtaba')

In [23]:
IterLoop1()

sdf
enter again :
fdg
enter again :
hsre
enter again :
34
34

In [25]:
def IterLoop2():
    while True:
        try:
            v=int(input())
            print(v)
            break # is used went out of loop 
        except :
            print('enter again : ')
    print('this is mmujtaba')

In [26]:
IterLoop2()

sdfg
enter again :
dfgh
enter again :
fg
enter again :
sdfg
enter again :
fdgh
enter again :
3453
3453
this is mmujtaba

In [ ]:
def IterLoop3():
    while True:# universal contition
        try:
            v=int(input())
            print(v)
            exit(1) # is used to exit the whole program 
        except ValueError:
            print('enter again : ')
    print('this is mmujtaba')

In [ ]:
IterLoop3()

In [8]:
try:
    f=open('myfile.txt','r')
    f.write("sdafs")
except FileNotFoundError as e:
    print(e)
except IOError:
    print('this is an OIError')
except  Exception as e:  # this is a super class  it will exceute first rather than specific class
    print(e)
except ValueError:
    print("this is a ValueError")

this is an OIError

In [1]:
try:
    f=open('sdfs.txt')
    f.write("sfdgsdgf") #just a single line code we can handle it. 
except (OSError,FileExistsError,FileNotFoundError,FloatingPointError,ValueError):
    print('there is an error with this code')

there is an error with this code

In [2]:
#raise  keyword you can rasise your own exception

In [9]:
def test3():
    try:
        n=int(input())
        f=324/n
        if n==2:
            raise Exception('i am looking a numebr except 5 ')
    except  Exception as e:
        print(e)
    finally:
            try:
                print(n)
            except :
                print('n is not valid')

In [10]:
test3()

2
i am looking a numebr except 5
2

In [26]:
import sqlite3

In [32]:
c=sqlite3.connect("xyz1") # connect to sqlite xyz is a database

In [33]:
c.execute("drop table if exists abc") # abc is a table

In [34]:
c.execute("create table abc(id int,name text, score int)")

In [35]:
pwd()

'C:\\Users\\asus\\INeuron'

In [39]:
c.execute('insert into abc(id,name,score) values (2,"mUjtaba Ali",78)')
c.execute('insert into abc(id,name,score) values (3,"mUjtaba Ali",78)')
c.execute('insert into abc(id,name,score) values (4,"mUjtaba Ali",78)')
c.execute('insert into abc(id,name,score) values (5,"mUjtaba Ali",78)')
c.execute('insert into abc(id,name,score) values (6,"mUjtaba Ali",78)')
c.execute('insert into abc(id,name,score) values (7,"mUjtaba Ali",78)')

In [40]:
c.commit() # it is important

In [43]:
list(c.execute('select * from abc')) # return tuple as a one one rows

[(1, 'mUjtaba Ali', 78),
 (1, 'mUjtaba Ali', 78),
 (1, 'mUjtaba Ali', 78),
 (1, 'mUjtaba Ali', 78),
 (1, 'mUjtaba Ali', 78),
 (1, 'mUjtaba Ali', 78),
 (1, 'mUjtaba Ali', 78),
 (2, 'mUjtaba Ali', 78),
 (3, 'mUjtaba Ali', 78),
 (4, 'mUjtaba Ali', 78),
 (5, 'mUjtaba Ali', 78),
 (6, 'mUjtaba Ali', 78),
 (7, 'mUjtaba Ali', 78)]

In [45]:
type(list(c.execute('select * from abc')) )

list

In [46]:
for i in c.execute('select * from abc'):
    print(i)

(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(2, 'mUjtaba Ali', 78)
(3, 'mUjtaba Ali', 78)
(4, 'mUjtaba Ali', 78)
(5, 'mUjtaba Ali', 78)
(6, 'mUjtaba Ali', 78)
(7, 'mUjtaba Ali', 78)

In [47]:
for i in c.execute('select * from abc order by  score'):
    print(i)

(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(1, 'mUjtaba Ali', 78)
(2, 'mUjtaba Ali', 78)
(3, 'mUjtaba Ali', 78)
(4, 'mUjtaba Ali', 78)
(5, 'mUjtaba Ali', 78)
(6, 'mUjtaba Ali', 78)
(7, 'mUjtaba Ali', 78)

In [51]:
for i in c.execute('select * from abc where name="MUjtaba Ali"'):
    print(i)

In [52]:
for i in c.execute('select * from abc where id=5'):
    print(i)

(5, 'mUjtaba Ali', 78)

In [53]:
for i in c.execute('select * from abc where id=6'):
    print(i)

(6, 'mUjtaba Ali', 78)

In [55]:
import mysql.connector

In [56]:
# sqlite database

In [57]:
import sqlite3

In [59]:
c=sqlite3.connect("university")

In [60]:
c # connector

In [61]:
c.execute("create table CSE(id int,hod_name test,director_name text)")

In [65]:
c.execute("insert into CSE(id,hod_name,director_name) values(2,'Dr.Mahdi Hasan','Dr.Intezar Mahdi')")
c.execute("insert into CSE(id,hod_name,director_name) values(3,'Dr.Gupta','Dr.Mishra')")
c.execute("insert into CSE(id,hod_name,director_name) values(4,'Dr.Anil Kumar','Dr.Intezar Mehdi')")

In [66]:
c.commit()

In [70]:
list(c.execute("select * from cse where id=2"))

[(2, 'Dr.Mahdi Hasan', 'Dr.Intezar Mahdi')]

In [79]:
list(c.execute("select * from cse where director_name='Dr.Intezar Mehdi'")) # case sensitive

[(4, 'Dr.Anil Kumar', 'Dr.Intezar Mehdi')]

In [87]:
c.execute("create table mytable(id int ,name text ,roll_number int ,regs_number int)")

OperationalError: table mytable already exists

In [88]:
c.execute("insert into  mytable(id,name,roll_number,regs_number) values(2,'Dr.Mahdi Hasan',23,345678)")
c.execute("insert into  mytable(id,name,roll_number,regs_number) values(3,'Dr.Gupta',24,345674)")
c.execute("insert into  mytable(id,name,roll_number,regs_number) values(4,'Dr.Anil Kumar',25,342678)")

In [89]:
c.commit()

In [91]:
list(c.execute("select * from mytable"))

[(2, 'Dr.Mahdi Hasan', 23, 345678),
 (3, 'Dr.Gupta', 24, 345674),
 (4, 'Dr.Anil Kumar', 25, 342678),
 (2, 'Dr.Mahdi Hasan', 23, 345678),
 (3, 'Dr.Gupta', 24, 345674),
 (4, 'Dr.Anil Kumar', 25, 342678)]

In [93]:
c.execute("update mytable set name='MUjtaba' where name='Dr.Gupta'")

In [94]:
c.commit()

In [95]:
list(c.execute("select * from mytable"))

[(2, 'Dr.Mahdi Hasan', 23, 345678),
 (3, 'MUjtaba', 24, 345674),
 (4, 'Dr.Anil Kumar', 25, 342678),
 (2, 'Dr.Mahdi Hasan', 23, 345678),
 (3, 'MUjtaba', 24, 345674),
 (4, 'Dr.Anil Kumar', 25, 342678)]

In [96]:
#import mysql.connector

In [11]:
# import mysql.connector

# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="root",
#     database="demopython"
    
# )

# print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000265336B5F70>

In [12]:
# mydb

In [13]:
# mycursor=mydb.cursor()  # mycursor is an object and it is used to execute the sql queries , it is created by using cursor method

In [ ]:
#mycursor.execute("create database demopython")

In [ ]:
#mycursor.execute("use demopython") # to select the database it is necessary in mysql

In [ ]:
#mycursor.execute("create table table_1(id int ,name text,roll_number int)")

In [14]:
# mycursor.execute("insert into table_1(id,name,roll_number) values (1,'Mujtaba Ali',19118034)")

In [15]:
# mydb.commit()

In [16]:
# mycursor.execute("show databases")

In [47]:
import mysql.connector

In [78]:
mydb=mysql.connector.connect(
    host="localhost",
    username="root",
    password="root",
    database="mydb"
)

In [79]:
mydb

In [80]:
mycursor=mydb.cursor()

In [81]:
mycursor.execute("use mydb")

In [82]:
mycursor.execute("create database mydb")

DatabaseError: 1007 (HY000): Can't create database 'mydb'; database exists

In [83]:
mycursor.execute("use mydb")

In [84]:
mycursor.execute("create table tb1(id int,name text,roll int)")

ProgrammingError: 1050 (42S01): Table 'tb1' already exists

In [85]:
mycursor.execute("insert into tb1(id,name,roll) values(1,'Mujtaba Ali',19118034)")

In [86]:
mydb.commit()

In [87]:
mycursor.execute("select * from tb1")
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

(1, 'Mujtaba Ali', 19118034)
(1, 'Mujtaba Ali', 19118034)
(1, 'Mujtaba Ali', 19118034)
(1, 'Mujtaba Ali', 19118034)

In [1]:
def test4():
        while True:
            try:
                v=int(input("Enter an Integer Number : "))
                f=12/v
                if v==5:
                    raise Exception("this is an Error for me 5")
            except:
                print("Enter again Only Integer Number : ")
                continue
            else:
                break

In [2]:
test4()

Enter an Integer Number : dgf
Enter again Only Integer Number :
Enter an Integer Number : dfgf
Enter again Only Integer Number :
Enter an Integer Number : gfh
Enter again Only Integer Number :
Enter an Integer Number : 56

In [6]:
            try:
                v=int(input("Enter an Integer Number : "))
            except ValueError as e:

Enter an Integer Number : 3