In [1]:
import numpy as np

In [3]:
np.arange(10).ndim

1

In [7]:
np.arange(16).reshape(4,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [10]:
np.arange(16).reshape(2,8).ndim

2

In [11]:
np.arange(16).reshape(2,8,1).ndim # 3 d array

3

In [13]:
np.arange(16).reshape(4,4,1)# 3 d array

array([[[ 0],
        [ 1],
        [ 2],
        [ 3]],

       [[ 4],
        [ 5],
        [ 6],
        [ 7]],

       [[ 8],
        [ 9],
        [10],
        [11]],

       [[12],
        [13],
        [14],
        [15]]])

In [16]:
np.arange(16).reshape(4,-1)# 3 d array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [19]:
np.arange(16).reshape(-1,4)# 3 d array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [21]:
np.arange(16).reshape(-123,4) # we can give a negative numner

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [22]:
np.arange(16).reshape(-123,4,2) # we can give a negative numner

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11],
        [12, 13],
        [14, 15]]])

In [26]:
x=np.arange(16).reshape(4,-1)

In [27]:
np.diag(x) # diagonal

array([ 0,  5, 10, 15])

In [31]:
x=np.arange(16).reshape(8,-1)

In [34]:
x

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15]])

In [36]:
np.diag(x,k=1) # by default

array([1])

In [37]:
x=np.arange(16).reshape(4,-1)

In [38]:
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [39]:
np.diag(x,k=1) # it is not consider first rowl and respective columns

array([ 1,  6, 11])

In [40]:
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [42]:
np.diag(x,k=0)

array([ 0,  5, 10, 15])

In [43]:
np.diag(np.diag(x,k=0))

array([[ 0,  0,  0,  0],
       [ 0,  5,  0,  0],
       [ 0,  0, 10,  0],
       [ 0,  0,  0, 15]])

In [48]:
np.diagflat([[1,2],[3,4]],k=-1) # reconsrtuct the square matrix

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

In [50]:
np.tri(3,5,0,dtype=int) # upper tiogonal is o and lower diagonal is 1

array([[1, 0, 0, 0, 0],
       [1, 1, 0, 0, 0],
       [1, 1, 1, 0, 0]])

In [51]:
np.tri(3,3,0,dtype=int)

array([[1, 0, 0],
       [1, 1, 0],
       [1, 1, 1]])

In [54]:
np.tri(3,3,k=1,dtype=int) #leave one index

array([[1, 1, 0],
       [1, 1, 1],
       [1, 1, 1]])

In [56]:
x=np.tri(3,7,k=1,dtype=int) #leave one index

In [57]:
for i in x:
    print(i)

[1 1 0 0 0 0 0]
[1 1 1 0 0 0 0]
[1 1 1 1 0 0 0]

In [59]:
np.tril([[1,2,3],[4,5,6],[7,8,9]],0)

array([[1, 0, 0],
       [4, 5, 0],
       [7, 8, 9]])

In [60]:
np.tril([[1,2,3],[4,5,6],[7,8,9]],1) # lower diagonal

array([[1, 2, 0],
       [4, 5, 6],
       [7, 8, 9]])

In [61]:
np.triu([[1,2,3],[4,5,6],[7,8,9]],1) # lower diagonal

array([[0, 2, 3],
       [0, 0, 6],
       [0, 0, 0]])

In [68]:
np.triu([[1,2,3,6],[4,5,3,7],[7,8,9,2]],k=1) # lower diagonal

array([[0, 2, 3, 6],
       [0, 0, 3, 7],
       [0, 0, 0, 2]])

In [70]:
np.triu([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],k=0)

array([[1, 2, 3],
       [0, 5, 6],
       [0, 0, 9],
       [0, 0, 0]])

In [72]:
np.triu([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],k=-1)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 0,  8,  9],
       [ 0,  0, 12]])

# random numnber generation

In [74]:
np.random.rand(3,4) #  this is uniform distribution mean colud be anything range from 0 to 1 no tuple is necesarry

array([[0.51436184, 0.35045018, 0.76801599, 0.31578339],
       [0.37948864, 0.25708344, 0.28370734, 0.37272238],
       [0.44803191, 0.33644209, 0.86417244, 0.88963148]])

In [75]:
np.random.randn(3,4) #  range 0 to 1 standard normal distributions mean=0 and st normal distribution = 1

array([[-1.65329981, -0.6561724 , -0.63204436,  1.09494883],
       [-0.0464123 ,  1.01769295,  1.14451576,  0.31489441],
       [ 1.40579437, -1.30315474, -0.32355061,  0.04551421]])

In [80]:
np.random.randint(1,10,(6,7)) # lowe and upprer and size

array([[2, 5, 8, 2, 2, 3, 3],
       [5, 9, 7, 2, 5, 8, 2],
       [9, 7, 5, 5, 9, 3, 3],
       [8, 1, 7, 8, 2, 7, 3],
       [9, 6, 1, 8, 9, 7, 5],
       [6, 1, 6, 6, 4, 6, 8]])

In [81]:
from numpy.random import randint as ri

In [84]:
a=ri(1,100,30)

In [88]:
a.reshape(5,6)

array([[20,  6, 85, 13, 11, 63],
       [91, 30, 31, 99, 48, 94],
       [71, 11, 98, 78, 85, 32],
       [57, 56, 16, 12,  4, 86],
       [39, 61, 29, 25, 64, 24]])

In [89]:
a.reshape(5,-234)

array([[20,  6, 85, 13, 11, 63],
       [91, 30, 31, 99, 48, 94],
       [71, 11, 98, 78, 85, 32],
       [57, 56, 16, 12,  4, 86],
       [39, 61, 29, 25, 64, 24]])

In [90]:
A=ri(1,100,10)

In [92]:
np.sort(A) # ascending order

array([ 3, 18, 20, 33, 53, 54, 67, 70, 80, 87])

In [93]:
M=ri(1,100,25).reshape(5,5)

In [94]:
M

array([[69, 85, 95, 96, 63],
       [54, 61,  7, 48, 62],
       [11, 76, 71, 26, 82],
       [48,  3, 35,  9, 75],
       [84, 63, 57, 44, 92]])

In [100]:
 np.sort(M, axis=1, kind=None, order=None)#columns wise and x=0 rows wise)

array([[63, 69, 85, 95, 96],
       [ 7, 48, 54, 61, 62],
       [11, 26, 71, 76, 82],
       [ 3,  9, 35, 48, 75],
       [44, 57, 63, 84, 92]])

In [102]:
 np.sort(M, axis=0)#columns wise and x=0 rows wise)

array([[11,  3,  7,  9, 62],
       [48, 61, 35, 26, 63],
       [54, 63, 57, 44, 75],
       [69, 76, 71, 48, 82],
       [84, 85, 95, 96, 92]])

In [110]:
x=np.array([12,23,3,54,6,45,22,63,45]).reshape(3,3)

In [111]:
x

array([[12, 23,  3],
       [54,  6, 45],
       [22, 63, 45]])

In [112]:
np.sort(x,axis=0) # row wise sorting

array([[12,  6,  3],
       [22, 23, 45],
       [54, 63, 45]])

In [113]:
np.sort(x,axis=1) # row wise sorting

array([[ 3, 12, 23],
       [ 6, 45, 54],
       [22, 45, 63]])

In [114]:
M.max() # returns maximum number

96

In [115]:
M.min() # returns minimum number

3

In [117]:
M

array([[69, 85, 95, 96, 63],
       [54, 61,  7, 48, 62],
       [11, 76, 71, 26, 82],
       [48,  3, 35,  9, 75],
       [84, 63, 57, 44, 92]])

In [118]:
print("Max of a location : ",M.argmax(axis=1))

Max of a location :  [3 4 4 4 4]

In [119]:
x

array([[12, 23,  3],
       [54,  6, 45],
       [22, 63, 45]])

In [120]:
print("Max of a location : ",x.argmax(axis=1))

Max of a location :  [1 0 1]

In [121]:
print("Max of a location : ",x.argmax(axis=0))

Max of a location :  [1 2 1]

In [122]:
print("Max of a location : ",x.argmax()) # we if dont write axis then will reeturn maximum value index

Max of a location :  7

In [123]:
x

array([[12, 23,  3],
       [54,  6, 45],
       [22, 63, 45]])

In [124]:
# indexing and slicing

In [126]:
arr=np.arange(0,11) # create array by usiing arange method

In [127]:
type(arr)

numpy.ndarray

In [128]:
arr[3]

3

In [137]:
arr[34:1:-1]

array([10,  9,  8,  7,  6,  5,  4,  3,  2])

In [138]:
import numpy as np

In [142]:
mat=np.array(ri(10,100,45)).reshape(3,5,3)

In [143]:
mat

array([[[70, 64, 65],
        [15, 19, 20],
        [51, 83, 31],
        [43, 40, 30],
        [45, 24, 66]],

       [[79, 80, 17],
        [90, 71, 21],
        [85, 56, 26],
        [72, 60, 67],
        [73, 45, 25]],

       [[76, 89, 67],
        [59, 69, 17],
        [30, 74, 86],
        [11, 63, 83],
        [74, 61, 40]]])

In [149]:
mat[1][2][0]

85

In [150]:
mat[1][2][2]

26

In [151]:
mat[0]

array([[70, 64, 65],
       [15, 19, 20],
       [51, 83, 31],
       [43, 40, 30],
       [45, 24, 66]])

In [153]:
mat[1][0]

array([79, 80, 17])

In [154]:
mat[0][0]

array([70, 64, 65])

array([15, 19, 20])

In [157]:
mat[0][:,1]

array([64, 19, 83, 40, 24])

In [158]:
mat

array([[[70, 64, 65],
        [15, 19, 20],
        [51, 83, 31],
        [43, 40, 30],
        [45, 24, 66]],

       [[79, 80, 17],
        [90, 71, 21],
        [85, 56, 26],
        [72, 60, 67],
        [73, 45, 25]],

       [[76, 89, 67],
        [59, 69, 17],
        [30, 74, 86],
        [11, 63, 83],
        [74, 61, 40]]])

In [164]:
mat[1][1:,1:] # rows and columns

array([[71, 21],
       [56, 26],
       [60, 67],
       [45, 25]])

In [165]:
mat[0][:2,:]

array([[70, 64, 65],
       [15, 19, 20]])

In [167]:
mat[1][:2,:]

array([[79, 80, 17],
       [90, 71, 21]])

In [168]:
mat[2][:2,:]

array([[76, 89, 67],
       [59, 69, 17]])

In [169]:
mat[0:3,[0,1]]

array([[[70, 64, 65],
        [15, 19, 20]],

       [[79, 80, 17],
        [90, 71, 21]],

       [[76, 89, 67],
        [59, 69, 17]]])

In [170]:
for i in range(3):
    print(mat[i][:2,:])

[[70 64 65]
 [15 19 20]]
[[79 80 17]
 [90 71 21]]
[[76 89 67]
 [59 69 17]]

In [171]:
#Subseting

In [172]:
mat=np.array(ri(10,100,15)).reshape(3,5)

In [173]:
mat

array([[78, 33, 91, 55, 18],
       [57, 63, 66, 10, 63],
       [83, 91, 88, 57, 62]])

In [174]:
mat==78 # filter out

array([[ True, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False]])

In [178]:
print('Element greater than 12\n.........................\n')
mat>12

Element greater than 12
.........................

array([[ True,  True,  True,  True,  True],
       [ True,  True,  True, False,  True],
       [ True,  True,  True,  True,  True]])

In [179]:
# universal function

In [181]:
mat1=np.array(ri(1,10,9)).reshape(3,3)
mat2=np.array(ri(1,10,9)).reshape(3,3)

In [182]:
mat1*mat2 # index wise or element wise mutiplication

array([[ 9, 15, 18],
       [81, 32,  5],
       [ 8, 36, 14]])

In [184]:
mat1.dot(mat2)

array([[ 56,  41,  66],
       [100,  65, 128],
       [ 80,  60, 116]])

In [186]:
mat1@mat2 # also a way

array([[ 56,  41,  66],
       [100,  65, 128],
       [ 80,  60, 116]])

In [188]:
mat1.mean()

4.888888888888889

In [189]:
mat1.sum()

44

In [190]:
mat/0 # inside the

<ipython-input-190-e2e4db2c9b46>:1: RuntimeWarning: divide by zero encountered in true_divide
  mat/0

array([[inf, inf, inf],
       [inf, inf, inf],
       [inf, inf, inf]])

In [191]:
mat1+34

array([[37, 39, 36],
       [43, 42, 35],
       [42, 40, 36]])

In [193]:
mat1

array([[3, 5, 2],
       [9, 8, 1],
       [8, 6, 2]])

In [194]:
mat1**2

array([[ 9, 25,  4],
       [81, 64,  1],
       [64, 36,  4]], dtype=int32)

In [195]:
pow(mat1,2) # also a way

array([[ 9, 25,  4],
       [81, 64,  1],
       [64, 36,  4]], dtype=int32)

In [199]:
start=np.zeros((3,4))+3

In [200]:
start

array([[3., 3., 3., 3.],
       [3., 3., 3., 3.],
       [3., 3., 3., 3.]])

In [204]:
add_row=np.array([1,0,5,4])

In [205]:
add_row

array([1, 0, 5, 4])

In [206]:
y=start+add_row

In [207]:
y

array([[4., 3., 8., 7.],
       [4., 3., 8., 7.],
       [4., 3., 8., 7.]])

In [220]:
add_cols=np.array([[2,3,4]])

In [221]:
add_cols=add_cols.T

In [222]:
add_cols

array([[2],
       [3],
       [4]])

In [223]:
start

array([[3., 3., 3., 3.],
       [3., 3., 3., 3.],
       [3., 3., 3., 3.]])

In [224]:
t=start+add_cols

In [225]:
t

array([[5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [226]:
np.sqrt(mat1)

array([[1.73205081, 2.23606798, 1.41421356],
       [3.        , 2.82842712, 1.        ],
       [2.82842712, 2.44948974, 1.41421356]])

In [227]:
np.exp(mat1)

array([[2.00855369e+01, 1.48413159e+02, 7.38905610e+00],
       [8.10308393e+03, 2.98095799e+03, 2.71828183e+00],
       [2.98095799e+03, 4.03428793e+02, 7.38905610e+00]])

In [229]:
np.fmod(mat1,mat2) # remainder of division

array([[0, 2, 2],
       [0, 0, 1],
       [0, 0, 2]], dtype=int32)

In [231]:
type(np.array(['sadfas',12,32,34]))

numpy.ndarray

In [234]:
import numpy as np

In [236]:
x=np.array([1,2,3,4])

In [237]:
x # one dimentional array

array([1, 2, 3, 4])

In [238]:
x.ndim

1

In [240]:
x.size

4

In [241]:
x.argmax() # it returns the ocation of maximum value

3

In [242]:
x.dtype

dtype('int32')

In [244]:
x.view() # view

array([1, 2, 3, 4])

In [246]:
type(np.mat(x)) # there is no difference between matrix and array besically matrix is a subset of array

numpy.matrix

In [249]:
x1=np.array([[1,2,3],[4,5,7],[8,5,3]])

In [250]:
x1

array([[1, 2, 3],
       [4, 5, 7],
       [8, 5, 3]])

In [251]:
type(x1)

numpy.ndarray

In [252]:
x1.ndim

2

In [255]:
x1.size

9

In [264]:
x1=np.array([[1,2,3],[4,5,7],[8,5,3]])

In [265]:
x1

array([[1, 2, 3],
       [4, 5, 7],
       [8, 5, 3]])

In [266]:
x1.T

array([[1, 4, 8],
       [2, 5, 5],
       [3, 7, 3]])

In [267]:
x1

array([[1, 2, 3],
       [4, 5, 7],
       [8, 5, 3]])

In [276]:
arr=np.arange(9).reshape(3,3)

In [277]:
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [280]:
arr1=np.linspace(1.2,3.2,9).reshape(3,3)

In [281]:
arr1

array([[1.2 , 1.45, 1.7 ],
       [1.95, 2.2 , 2.45],
       [2.7 , 2.95, 3.2 ]])

In [282]:
# random number generation

In [291]:
np.random.rand(3,3) # this returns the sample of uniform distribution range 0 to 1

array([[0.1824055 , 0.8345494 , 0.69258006],
       [0.76535017, 0.79703221, 0.08510105],
       [0.26333867, 0.3893222 , 0.83678723]])

In [293]:
np.random.randn(3,3) # this returns the standard normal distribution mean=0 and standard deviation=1

array([[-0.14801268,  0.09061743, -0.09750982],
       [-1.12505551,  1.59336221, -0.05908107],
       [-0.05811732, -0.14055141,  0.18514085]])

In [295]:
from numpy.random import randint as ri

In [299]:
ri(0,10,24).reshape(8,3)

array([[6, 2, 2],
       [7, 2, 4],
       [5, 4, 5],
       [7, 6, 8],
       [5, 9, 2],
       [7, 8, 7],
       [6, 0, 2],
       [5, 5, 6]])

In [304]:
ri(0,10,(3,3)) # this is also a way

array([[6, 1, 9],
       [5, 0, 6],
       [5, 0, 1]])

In [305]:
mat1=ri(1,4,9).reshape(3,3)
mat2=ri(1,4,9).reshape(3,3)

In [307]:
print(mat1)
print(mat2)

[[3 3 1]
 [1 3 1]
 [2 1 2]]
[[2 3 2]
 [3 1 2]
 [2 1 3]]

In [308]:
mat1

array([[3, 3, 1],
       [1, 3, 1],
       [2, 1, 2]])

In [312]:
mat1*mat2 # index or item wise mutiplication it is not actual multiplicattion

array([[6, 9, 2],
       [3, 3, 2],
       [4, 1, 6]])

In [313]:
mat1@mat2

array([[17, 13, 15],
       [13,  7, 11],
       [11,  9, 12]])

In [314]:
mat1.dot(mat2)

array([[17, 13, 15],
       [13,  7, 11],
       [11,  9, 12]])

In [315]:
mat1/mat2

array([[1.5       , 1.        , 0.5       ],
       [0.33333333, 3.        , 0.5       ],
       [1.        , 1.        , 0.66666667]])

In [316]:
mat1

array([[3, 3, 1],
       [1, 3, 1],
       [2, 1, 2]])

mat1+3

In [318]:
mat1+3 # add 3 in each and every element of mat

array([[6, 6, 4],
       [4, 6, 4],
       [5, 4, 5]])

In [319]:
add_row=np.array([1,2,3])
mat1+add_row

array([[4, 5, 4],
       [2, 5, 4],
       [3, 3, 5]])

In [320]:
mat1

array([[3, 3, 1],
       [1, 3, 1],
       [2, 1, 2]])

In [325]:
add_co=np.array([[1,2,3]])
add_co=add_co.T

In [326]:
add_co

array([[1],
       [2],
       [3]])

In [327]:
mat1+add_co

array([[4, 4, 2],
       [3, 5, 3],
       [5, 4, 5]])

In [328]:
mat1

array([[3, 3, 1],
       [1, 3, 1],
       [2, 1, 2]])

In [332]:
mat1.std() #  Standard Deviation

0.8748897637790901

In [331]:
mat1.sum()

17

In [333]:
# sorting

In [341]:
S=ri(1,10,16).reshape(4,4)

In [335]:
S

array([[6, 2, 2, 2],
       [6, 1, 9, 9],
       [8, 9, 8, 2],
       [5, 6, 6, 3]])

In [338]:
np.sort(S,axis=1)

array([[2, 2, 2, 6],
       [1, 6, 9, 9],
       [2, 8, 8, 9],
       [3, 5, 6, 6]])

In [340]:
np.sort(S,axis=0)

array([[5, 1, 2, 2],
       [6, 2, 6, 2],
       [6, 6, 8, 3],
       [8, 9, 9, 9]])

In [343]:
S.diagonal()

array([2, 4, 5, 5])

In [350]:
S

array([[2, 1, 6, 4],
       [5, 4, 7, 1],
       [2, 1, 5, 2],
       [5, 4, 9, 5]])

In [349]:
np.diag(S,k=1)

array([1, 7, 2])

In [355]:
np.tri(3,3,k=-1,dtype=int)

array([[0, 0, 0],
       [1, 0, 0],
       [1, 1, 0]])

In [356]:
np.tri(3,3,k=1,dtype=int)

array([[1, 1, 0],
       [1, 1, 1],
       [1, 1, 1]])

In [357]:
S

array([[2, 1, 6, 4],
       [5, 4, 7, 1],
       [2, 1, 5, 2],
       [5, 4, 9, 5]])

In [359]:
R=ri(1,5,60).reshape(3,4,5)

In [360]:
R.size

60

In [361]:
R.shape

(3, 4, 5)

In [363]:
R.ndim

3

In [372]:
R[0][:,1]

array([3, 4, 3, 1])

In [375]:
R

array([[[1, 3, 2, 3, 3],
        [2, 4, 3, 4, 4],
        [2, 3, 1, 4, 1],
        [3, 1, 4, 1, 4]],

       [[2, 4, 1, 3, 2],
        [4, 1, 3, 1, 3],
        [1, 4, 4, 3, 2],
        [1, 4, 3, 3, 1]],

       [[3, 2, 2, 2, 2],
        [2, 2, 3, 1, 3],
        [3, 4, 2, 3, 2],
        [3, 2, 1, 2, 1]]])

In [369]:
R[0]

array([[1, 3, 2, 3, 3],
       [2, 4, 3, 4, 4],
       [2, 3, 1, 4, 1],
       [3, 1, 4, 1, 4]])

In [376]:
R[:,0]

array([[1, 3, 2, 3, 3],
       [2, 4, 1, 3, 2],
       [3, 2, 2, 2, 2]])

In [378]:
R[2,:]

array([[3, 2, 2, 2, 2],
       [2, 2, 3, 1, 3],
       [3, 4, 2, 3, 2],
       [3, 2, 1, 2, 1]])

In [380]:
R[2][0:2,:]

array([[3, 2, 2, 2, 2],
       [2, 2, 3, 1, 3]])

In [381]:
for i in range(3):
    print(R[i][:,0:3])

[[1 3 2]
 [2 4 3]
 [2 3 1]
 [3 1 4]]
[[2 4 1]
 [4 1 3]
 [1 4 4]
 [1 4 3]]
[[3 2 2]
 [2 2 3]
 [3 4 2]
 [3 2 1]]

In [385]:
R[:,1] # by default

array([[2, 4, 3, 4, 4],
       [4, 1, 3, 1, 3],
       [2, 2, 3, 1, 3]])

In [383]:
R

array([[[1, 3, 2, 3, 3],
        [2, 4, 3, 4, 4],
        [2, 3, 1, 4, 1],
        [3, 1, 4, 1, 4]],

       [[2, 4, 1, 3, 2],
        [4, 1, 3, 1, 3],
        [1, 4, 4, 3, 2],
        [1, 4, 3, 3, 1]],

       [[3, 2, 2, 2, 2],
        [2, 2, 3, 1, 3],
        [3, 4, 2, 3, 2],
        [3, 2, 1, 2, 1]]])